/target/
/bin/
.classpath
.project
/.settings/
/.externalToolBuilders/
/catalina.base_IS_UNDEFINED/
Thumbs.db
/.idea/
*.iml
/logs/
.factorypath
.settings/
.DS_Store
.mvn/
*.zip
target/
.idea/
webapp/
/log.path_IS_UNDEFINED/